In [63]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score,mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import os

In [64]:
os.chdir(r"C:\Users\dbda\Desktop\Machine Learning\Datasets")

In [65]:
df=pd.read_csv('Housing.csv')
dum_df=pd.get_dummies(df,drop_first=True)

In [66]:
dum_df.head()

,price,lotsize,bedrooms,bathrms,stories,garagepl,driveway_yes,recroom_yes,fullbase_yes,gashw_yes,airco_yes,prefarea_yes
0,42000.0,5850,3,1,2,1,True,False,True,False,False,False
1,38500.0,4000,2,1,1,0,True,False,False,False,False,False
2,49500.0,3060,3,1,1,0,True,False,False,False,False,False
3,60500.0,6650,3,1,2,0,True,True,False,False,False,False
4,61000.0,6360,2,1,1,0,True,False,False,False,False,False

In [67]:
x=dum_df.drop('price',axis=1)

In [68]:
y=dum_df['price']

In [69]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=24)

In [70]:
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

In [71]:
x.dtypes

lotsize         int64
bedrooms        int64
bathrms         int64
stories         int64
garagepl        int64
driveway_yes     bool
recroom_yes      bool
fullbase_yes     bool
gashw_yes        bool
airco_yes        bool
prefarea_yes     bool
dtype: object

In [72]:
print(r2_score(y_test,y_pred))

0.6246856191453718

In [73]:
print(mean_absolute_error(y_test,y_pred))

12263.49808577774

In [74]:
print(mean_squared_error(y_test,y_pred))

262304545.81417143

In [75]:
x_test

,lotsize,bedrooms,bathrms,stories,garagepl,driveway_yes,recroom_yes,fullbase_yes,gashw_yes,airco_yes,prefarea_yes
33,4500,2,1,1,0,True,False,False,False,False,False
90,6060,3,1,1,0,True,True,True,False,False,False
499,8400,4,1,4,3,True,False,False,False,False,False
527,6325,3,1,4,1,True,False,False,False,True,False
104,4992,3,2,2,2,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
152,3600,2,2,2,1,True,False,True,False,False,False
516,6000,3,2,3,0,True,True,False,False,True,False
403,6360,3,1,3,0,True,False,False,False,False,True
389,8000,3,1,1,2,True,True,True,False,True,True
416,11175,3,1,1,1,True,False,True,False,True,True

In [76]:
lr.coef_

array([3.60793308e+00, 1.90378390e+03, 1.42583607e+04, 6.50823107e+03,
       5.15503416e+03, 7.37971027e+03, 3.60587171e+03, 7.30633043e+03,
       1.08877151e+04, 1.23164444e+04, 7.66079676e+03])